In [1]:
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
d = pd.read_csv("A:/DataSets/HR_Analytics.csv")

In [3]:
d.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
d.groupby("left").mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321

In [5]:
data = d[["satisfaction_level","average_montly_hours","promotion_last_5years"]]
y = d["left"]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(data,y,test_size = 0.2)

In [7]:
model = LogisticRegression()
model.fit(X_train,y_train)

C:\Users\Anil Chowdary\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
predicted = model.predict(X_test)
model.score(X_test, y_test)

0.77

In [12]:
X_test

       satisfaction_level  average_montly_hours  promotion_last_5years
10193                0.87                   248                      0
10365                0.63                   233                      0
12458                0.41                   136                      0
14047                0.17                   194                      0
14556                0.10                   278                      0
...                   ...                   ...                    ...
13116                0.73                   205                      0
4464                 0.60                   201                      0
1539                 0.83                   235                      0
3307                 0.76                   148                      0
1588                 0.90                   264                      0

[3000 rows x 3 columns]